lib/libswresample.a
lib/libliveMedia.a
lib/libavfilter.a
lib/libavcodec.a
lib/libswscale.a
lib/libavformat.a
lib/libUsageEnvironment.a
lib/libavutil.a
lib/libgroupsock.a
lib/libBasicUsageEnvironment.a
python/include
python/ext/libavdevice
python/ext/liveMedia
python/ext/BasicUsageEnvironment
python/ext/groupsock
python/ext/libavfilter
python/ext/libavformat
python/ext/libswscale
python/ext/libswresample
python/ext/UsageEnvironment
python/ext/libavcodec
python/ext/libavutil
TODO
include/tmp.i
python/Valkka.egg-info
python/build
python/dist
python/valkka_core.py
python/valkka_core_wrap.py
python/valkka/_valkka_core.so
python/valkka_core_wrap.cpp
