lib/libswresample.a
lib/libliveMedia.a
lib/libavfilter.a
lib/libavcodec.a
lib/libswscale.a
lib/libavformat.a
lib/libUsageEnvironment.a
lib/libavutil.a
lib/libgroupsock.a
lib/libBasicUsageEnvironment.a
python/include
python/ext/libavdevice
python/ext/liveMedia
python/ext/BasicUsageEnvironment
python/ext/groupsock
python/ext/libavfilter
python/ext/libavformat
python/ext/libswscale
python/ext/libswresample
python/ext/UsageEnvironment
python/ext/libavcodec
python/ext/libavutil
TODO
include/tmp.i
python/Valkka.egg-info
python/build
python/dist
python/valkka/core/valkka_core.py
python/valkka/core/valkka_core_wrap.py
python/valkka/core/_valkka_core.so
python/valkka/core/valkka_core_wrap.cpp
changetext.py
publish.bash
toolchain/
changelic.bash
changetext
python/valkka_core.i
publish_lite.bash
src/*.save
git_tag.bash
git_rm_tag.bash
python/valkka/libValkka.so.*
python/valkka.egg-info
ROADMAP
pitch.txt
python/legacy
build_dir
include/legacy
legacy
python/valkka/valkka_core_wrap.cpp
python/valkka/*.so.*
ext/*.tar.gz
ext/ffmpeg
ext/live
debian/tmp
include/valkka_core.i
python/valkka/valkka_core.py
ppa_checklist.txt
paska
python/valkka/core/*.so.*
schemes/
log.txt
include/save/
src/save/
include/playground
debian/comment.tmp
