Source: valkka
Section: libs
Priority: optional
Maintainer: Sampsa Riikonen <sampsa.riikonen@iki.fi>
Build-Depends: yasm, cmake, pkg-config, swig, libglew-dev, mesa-common-dev, libstdc++-5-dev, python3-dev, python3-numpy, libasound2-dev
Standards-Version: 3.9.7
Homepage: http://www.iki.fi/sampsa.riikonen

Package: valkka
Architecture: any
Depends: libpython3.5, libgcc1, mesa-utils, libstdc++6, glew-utils, python3-numpy
Description: Valkka
 OpenSource Video Management for Linux
