#!/usr/bin/make -f

include /usr/share/dpkg/default.mk
##..that should include $(DEB_HOST_ARCH) into this Makefile

# we need absolute paths because of CMake ..
MAINDIR   = $(CURDIR)
EXTDIR    = $(MAINDIR)/ext
BUILDDIR  = $(MAINDIR)/build_dir
LIVEDIR   = $(MAINDIR)/ext/live
FFMPEGDIR = $(MAINDIR)/ext/ffmpeg
LIBDIR    = $(MAINDIR)/python/valkka/core

# for arm-based linuxes, turn off vaapi
ifneq ($(findstring arm, $(DEB_HOST_ARCH)),)
	VAAPI=OFF
else
	VAAPI=ON
endif

# secondly called by launchpad
# this called from the main dir, i.e. by "debuild" => make -f debian/rules clean;build;etc
# that -DCMAKE_INSTALL_PREFIX creates an install script for CMake itself
build:
	cd $(LIVEDIR); make -j 2
	cd $(FFMPEGDIR); make -j 2
	mkdir -p $(BUILDDIR);
	cd $(BUILDDIR); cmake -Dlive555_root=$(LIVEDIR) \
		-Dffmpeg_root=$(FFMPEGDIR) \
		-DCMAKE_BUILD_TYPE="Release" \
		-DCMAKE_INSTALL_PREFIX=$(MAINDIR)/debian/tmp/usr $(MAINDIR) \
		-Dvaapi=$(VAAPI) -Dbuild_tests=OFF
	make -C $(BUILDDIR)
	
# thirdly called by launchpad
binary: binary-indep binary-arch

binary-indep:
	# nothing to be done

# cmake runs the install script it generated at build stage
binary-arch:
	cd $(BUILDDIR); cmake -P cmake_install.cmake
	mkdir debian/tmp/DEBIAN
	dpkg-gencontrol -pvalkka
	dpkg --build debian/tmp ..

# firstly called by launchpad
clean:
	rm -f build
	rm -rf $(BUILDDIR)
	cd $(EXTDIR); ./configure_live.bash $(DEB_HOST_ARCH)
	cd $(EXTDIR); ./configure_ffmpeg.bash $(DEB_HOST_ARCH)
	cd $(LIVEDIR); make clean
	cd $(FFMPEGDIR); make clean
	cd $(LIBDIR); rm -f *.so.*
	cd $(LIBDIR); rm -f *.so

# this is for people building valkka from scratch
package:
	make -C $(BUILDDIR) package

.PHONY: binary binary-arch binary-indep clean
